{% extends "sidebaradmin.html" %}

{% block content %}
<div class="flex h-full">
    <!-- lado izquierdo -->
     <style>
        .message-success {
            background-color: #10B981;
            color: #FFFFFF;
        }
    
        .message-error {
            background-color: #EF4444;
            color: #FFFFFF;
        }
     </style>
    <div class="w-1/4 px-4 py-2 bg-gray-200 dark:bg-gray-700 flex flex-col justify-center items-center">
        <form 
            class="flex items-center space-x-4 mb-4"
            method="POST"
            enctype="multipart/form-data"
            action="/cargaxml/"
        >
            {% csrf_token %}
            <label for="file" class="px-3 py-2 bg-gray-200 text-gray-700 rounded-lg cursor-pointer hover:bg-gray-300 transition duration-150 ease-in-out">
                Seleccionar Archivo
            </label>
            <input type="file" id="file" name="file" accept="text/xml" class="hidden">
            <button type="submit" class="px-3 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-150 ease-in-out">
                <span class="mr-2">
                    <i class="fas fa-file"></i>
                </span>
                Mostrar
            </button>
        </form>
        <form 
            method="POST"
            enctype="multipart/form-data"
            action="/xmllibros/"
        >
        {% csrf_token %}
        <button class="w-full px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none">Cargar Libros</button>
        </form>
        <form 
            method="POST"
            enctype="multipart/form-data"
            action="/xmlusuarios/"
        >
        {% csrf_token %}
        <button class="mt-2 w-full px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none">Cargar Usuarios</button>
        </form>
        <form 
            method="POST"
            enctype="multipart/form-data"
        >
        <button class="mt-2 w-full px-4 py-2 bg-yellow-500 text-black rounded-lg hover:bg-yellow-600 focus:outline-none">Cargar Reservaciones</button>
        </form>
        <form 
            method="POST"
            enctype="multipart/form-data"
        >
        {% csrf_token %}
        <button class="mt-2 w-full px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none">Limpiar Vista Previa</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p class="
                    {% if message.tags == 'success' %}
                        toast-success
                    {% elif message.tags == 'error' %}
                        toast-error
                    {% endif %}
                ">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
    </div>

    <!-- lado derecho -->
    <div class="w-3/4 mx-4 flex flex-col">
        <h1 class="text-white ml-5 mt-5 font-bold text-lg">Vista Previa</h1>
        {% if contenido_archivo %}
            <textarea class="flex-1 w-max-64 px-3 py-2 m-5 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-500" readonly>{{contenido_archivo}}</textarea>
        {% else %}
            <textarea class="flex-1 w-max-64 px-3 py-2 m-5 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-500" readonly></textarea>
        {% endif %}
    </div>
</div>
<style>
    .toast {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 4rem;
        margin-right: 4rem;
        padding: 1rem;
        border-radius: 0.5rem;
        display: none;
    }

    .toast-success {
        background-color: #10B981;
        color: #FFFFFF;
    }

    .toast-error {
        background-color: #EF4444;
        color: #FFFFFF;
    }

    .toast-warning {
        background-color: #FBBF24;
        color: #1F2937;
    }

    .toast-info {
        background-color: #6B7280;
        color: #FFFFFF;
    }
</style>
{% endblock %}